.galleryContainer {
  padding: 20px;
}

/*.currentImageContainer {
  background-position: center;
  background-size: auto;
  width: 920px;
  height: 672px;
  margin: auto;
}*/

.currentImageContainer {
  width: 960px;
  height: 700px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.currentImage {
  display: block;
  height: 100%;
  position: absolute;
}

.imageHeader {
  z-index: 1;
  position: absolute;
  color: #fff;
  margin: 0px;
  vertical-align: bottom;
  line-height: 100px;
  width: 960px;
  height: 100px;
  text-align: center;
  font-size: 40px;
  background: rgba(25, 25, 25, .5);
}

.imageFooter {
  z-index: 1;
  position: relative;
  color: #fff;
  top: 584px;
  margin: 0px;
  width: 960px;
  height: 115px;
  text-align: center;
  background: rgba(25, 25, 25, .5);
}

.imageFooterTitle {
  font-size: 28px;
  color: #fff;
}

.imageFooterBody {
  font-size: 18px;
  color: #fff;
}

.leftArrow {
  textAlign: center;
  position: absolute;
  margin: 34% 5%;
}

.rightArrow {
  textAlign: center;
  position: absolute;
  margin: 34% 86%;
}
