.thumbnailHighlight {
  display: inline-block;
  margin: 14px;
  boxShadow: 3px 3px 12px #666;
  borderColor: #C76C0C;
  cursor: pointer;
}

.thumbnailNoHighlight {
  display: inline-block;
  margin: 14px;
}

.thumbnailContainer {
  background: #ccc;
  width: 896px;
  height: 120px;
  margin: auto;
}

.imageHighlight {
  height: 75px;
  width: 100px;
  position: relative;
}

.imageNotHighlight {
  height: 55px;
  width: 75px;
  position: relative;
}
